<article class="card text-center">
  <header class="card-header d-flex justify-content-evenly">
    <img src="https://picsum.photos/50/50" alt="imagem" class="rounded-circle">
    <span>{{ post.strNome }}</span>
    <span>{{ post.strData }}</span>
  </header>
  <main class="card-body">
    <p class="card-text">{{ post.strMensagem }}</p>
  </main>
  <footer class="card-footer text-body-secondary d-flex justify-content-evenly">
    <span>{{ post.qtdGostei }} gostei</span>
    <span>{{ post.qtdNaoGostei }} não gostei</span>
    <span>comentarios</span>
  </footer>
</article>
