<div class="post p-3">
  <div>
    <div class="d-flex justify-content-evenly">
      <img src="https://via.placeholder.com/50x50" alt="imagem">
      <h4>nome usuario</h4>
      <span>dd/mm/aaaa</span>
    </div>
    <div>
      <form>
        <div class="mb-3">
          <label for="id-mensagem" class="form-label">Post</label>
          <textarea class="form-control" id="id-mensagem"></textarea>
        </div>
      </form>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn">gostei</button>
        <button type="button" class="btn">não gostei</button>
      </div>
    </div>
  </div>
  <div>
    comentarios
  </div>
</div>
