<app-cabecalho [@aparecer] strIDBarra="{{ idBarra }}" (siIDNavbar)="retornaID($event)" />
<main [@aparecer]>

  <div class="row" data-bs-spy="scroll" [attr.data-bs-target]="'#' + IDNavbar" tabindex="0">
    <aside class="col-0 col-sm-4 col-md-2">

      <div class="offcanvas offcanvas-start" data-bs-scroll="true" id="{{ idBarra }}">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Seguidores</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <app-seguidores />
        </div>
      </div>

      <div id="id-lateral" class="d-none d-sm-flex">
        <app-seguidores />
      </div>

    </aside>

    <section id="id-mural" class="col-10 col-sm-8 offset-1 offset-sm-0 offset-md-1">
      <button type="button" class="btn">Novo post</button>
      <app-lista-posts />
    </section>
  </div>
</main>
<app-rodape [@aparecer]/>
