//importacoes
@use 'sass:map';    //map p/ manipular mapas sass
@use '../../../../estilos/mapas.scss' as mapas;

:host {
  display: block;

  background-color: map.get(mapas.$cores, bege-3);
}

main {
  min-height: calc(100dvh - 173px);
  flex: 1;

  // overflow-x: hidden;
}

section {
  margin-top: 30px;
  padding-right: 30px;
}

//ids
#id-lateral {
  position: sticky;
  top: 0;
  left: 0;

  height: 100%;
  background-color: map.get(mapas.$cores, marrom);
}
