//importacoes
@use 'sass:map';    //map p/ manipular mapas sass
@use '../../../../estilos/mapas.scss' as mapas;

main {
  margin-top: 50px;   //ajuste p/ animacao do cabecalho

  background-color: map.get(mapas.$cores, cinza);
  overflow: hidden;
}
