<app-cabecalho [@aparecer] strIDBarra="{{ idBarra }}" (siIDNavbar)="retornaID($event)" />
<main [@aparecer]>

  <div class="row">
    <aside class="col-0 col-sm-4 col-md-2">

      <div class="offcanvas offcanvas-start" data-bs-scroll="true" id="{{ idBarra }}">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Seguidores</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <app-seguidores />
        </div>
      </div>

      <div id="id-lateral" class="d-none d-sm-flex">
        <app-seguidores />
      </div>

    </aside>

    <div class="col-10 col-sm-8 offset-1 offset-sm-0 offset-md-1 mt-3" data-bs-spy="scroll" [attr.data-bs-target]="'#' + IDNavbar" tabindex="0">

      <!-- botao: ativa a modal p/ visualizacao/adicao de post -->
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#id-modal" (click)="form.get('comentario')?.reset()">Novo post</button>

      <!-- modal -->
      <div class="modal fade" id="id-modal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <!-- cabecalho -->
            <header class="modal-header">
              <h1 class="modal-title fs-5">Novo post</h1>
              <button type="button" title="fechar" class="btn-close" data-bs-dismiss="modal"></button>
            </header>

            <!-- formulario post -->
            <div class="modal-body">

              <!-- formulario p/ entrar com o posts -->
              <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <div class="form-floating">
                  <textarea class="form-control" placeholder="Digite o comentário" id="id-area-texto" formControlName="comentario"></textarea>
                  <label for="id-area-texto">Comentário</label>
                  <!-- validacao -->
                  @if (flgSubmit) {
                    <!-- erros -->
                    @if (form.get('comentario')?.errors) {
                      <div class="invalid-feedback">
                        <ul>
                          @for (erro of getErros; track erro) {
                            <li>
                              <!-- verifica qual o tipo de erro -->
                              @switch (erro) {
                                @case ('required') { <p>Campo é obrigatório.</p> }
                                <!-- caso padrao: 'erro retornado' -->
                                @default { <p>Erro.</p> }
                              }
                            </li>
                          }
                        </ul>
                      </div>
                    }
                  }
                </div>
                 <!-- rodape -->
                <footer class="modal-footer">
                  <button type="button" class="btn" data-bs-dismiss="modal">Fechar</button>
                  <button type="submit" class="btn">Salvar</button>
                </footer>
              </form>
            </div>
          </div>
        </div>
      </div>

      <section id="id-mural">
        <app-lista-posts />
      </section>
    </div>
  </div>
</main>
<app-rodape [@aparecer]/>
