/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';
@use 'sass:map';    //mapas do sass
@use './estilos/mapas.scss' as mapas;

/*resete*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: map.get(mapas.$cores, preto);
}

//classes: bootstrap
.container { margin: 0 auto; }

// fontes
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

//mixins: animacoes
@mixin mix-animacoes(
  $flg-tipo: 'F',
  $movimento: -2px,
  $v-tempo-flutuar: 2s,
  $v-tempo-piscar: 3s
) {
  //verifica tipo animacao passando: F - flutuando
  @if $flg-tipo == 'F' {
    //animacoes
    @keyframes flutuando-#{$movimento} {
      //comeca na posicao negativa: 10px = -10px
      from, to { transform: translateY(0); }
      50% { transform: translateY($movimento); }
    }
  }
  //P - piscando
  @if $flg-tipo == 'P' {
    @keyframes piscando {
      //comeca visivel
      from { opacity: 1; }
      to { opacity: 0; }    //fica invisivel
    }
  }

  //aplica a animacao
  animation:
    #{if($flg-tipo == 'F', flutuando-#{$movimento} $v-tempo-flutuar infinite ease-in-out, null)},
    #{if($flg-tipo == 'P', piscando $v-tempo-piscar infinite ease-in-out, null)};
}

@mixin mix-barra-rolagem(
  $tipo-overflow: hidden,
  $v-largura: 0
) {
  //adicina barra de rolagem
  overflow: $tipo-overflow;

  //Webkit (Chrome, Safari, Edge Chromium)
  &::-webkit-scrollbar {
    width: $v-largura;   //largura da barra de rolagem vertical
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    background: transparent; //"polegar" e barra transparente
  }
}

@mixin mix-formulario(
  $cor-fundo,
  $cod-fundo-hover
) {
  //visualizacao dentro do formulario: uma linha p/ cada elemento
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  //botoes do formulario
  button {
    cursor: pointer;

    //efeito de transicao suave
    transition: all 0.3s ease-in-out;

    //botao ocupa todo espaco do formulario na horizontal
    width: 100%;
    text-align: center;

    //tamanho da fonte + margem
    font-size: 18px;
    margin-bottom: 8px;
    //bordas arrendondadas
    border-radius: 24px;

    //cor
    color: $cor-fundo;

    //evento: hover
    &:hover {
      background: $cod-fundo-hover;
    }
  }
}

//padroes
@mixin mix-padrao($posicao: relative) {
  //centralizando
  @include mix-central();

  //tamanho
  width: 100%;
  height: 100%;
  //posicao
  position: $posicao;
}

@mixin mix-central() {
  // centraliza todos objetos
  display: flex;
  align-items: center;
  justify-content: center;
}
