/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';

/*resete*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

//classes: bootstrap
.container { margin: 0 auto; }

// fontes
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

//mixins: animacoes
@mixin mix-animacoes(
  $flg-tipo: 'F',
  $movimento: -2px,
  $v-tempo-flutuar: 2s,
  $v-tempo-piscar: 3s
) {
  //verifica tipo animacao passando: F - flutuando
  @if $flg-tipo == 'F' {
    //animacoes
    @keyframes flutuando-#{$movimento} {
      //comeca na posicao negativa: 10px = -10px
      from, to { transform: translateY(0); }
      50% { transform: translateY($movimento); }
    }
  }
  //P - piscando
  @if $flg-tipo == 'P' {
    @keyframes piscando {
      //comeca visivel
      from { opacity: 1; }
      to { opacity: 0; }    //fica invisivel
    }
  }

  //aplica a animacao
  animation:
    #{if($flg-tipo == 'F', flutuando-#{$movimento} $v-tempo-flutuar infinite ease-in-out, null)},
    #{if($flg-tipo == 'P', piscando $v-tempo-piscar infinite ease-in-out, null)};
}
