<!-- campo: rotulo + input -->
<div class="form-floating mb-3">
  <!-- entrada -->
  <input class="form-control" type="{{ TipoEntrada }}" placeholder="{{ strDescricao }}" id="{{ strID }}"
    [value]="iEntrada" (input)="onInput($event)" [ngClass]="strClasse">
  <!-- rotulo -->
  <label for="{{ strID }}">{{ rEntrada }}</label>
  <!-- erros -->
  <div *ngIf="flgSubmit && erros" class="invalid-feedback">
    <ul>
      <li *ngFor="let erro of errosArray | keyvalue">
        <p *ngIf="'required' in erro.key">Campo é obrigatório.</p>
        <p *ngIf="'minlength' in erro.key">Tamanho mínimo não alcançado.</p>
      </li>
    </ul>
  </div>
  <!-- sucesso -->
  <div *ngIf="flgSubmit && !erros" class="valid-feedback">
    <p>Sucesso</p>
  </div>
  <ng-content></ng-content>
</div>
