// importacoes
@use 'sass:map';    //mapas do sass
@use '../../../estilos/mapas.scss' as mapas;

:host {
  --tamanho: #{map.get(mapas.$tam-fontes, padrao)};
}

ul {
  list-style: none;
}

input {
  //bordas arredondadas
  border-radius: 32px;
  background-color: map.get(mapas.$cores, branco);
  //
  transition: all 0.5s ease-in-out;

  &:hover
  ,&:focus {
    background-color: map.get(mapas.$cores, cinza);
  }
}

//classes: bootstrap
.form-floating {
  font-size: var(--tamanho);
}
