<!-- campo: rotulo + input -->
<div class="form-floating mb-3">
  <!-- entrada -->
  <input class="form-control" type="{{ TipoEntrada }}" placeholder="{{ strDescricao }}" id="{{ strID }}"
    [value]="iEntrada" (input)="onInput($event)" [ngClass]="strClasse">
  <!-- rotulo -->
  <label for="{{ strID }}">{{ rEntrada }}</label>
  <!-- validacao -->
  @if (flgSubmit) {
    <!-- erros -->
    @if (erros) {
      <div class="invalid-feedback">
        <ul>
          @for (erro of errosArray; track erro) {
            <li>
              <!-- verifica qual o tipo de erro -->
              @switch (erro) {
                @case ('minlength') { <p>Tamanho mínimo não alcançado.</p> }
                @case ('email') { <p>Email inválido.</p> }
                @case ('pattern') { <p>Formato da informação inválido.</p> }
                @case ('emailDuplicado') { Este email ja existe no banco. }
                @case ('senhaErrada') { <p>Senha errada.</p> }
                @case ('loginInexistente') { <p>Usuario não encontrado.</p> }
                <!-- caso padrao: 'required' -->
                @default { <p>Campo é obrigatório.</p> }
              }
            </li>
          }
        </ul>
      </div>
    } @else {
      <!-- sucesso -->
      <div class="valid-feedback">
        <p>Sucesso</p>
      </div>
    }
  }
  <ng-content></ng-content>
</div>
