//importacoes
@use '../../../styles.scss' as estilos;

//classes: bootstrap
.list-group-item {
  margin: 8px;
  border-radius: 32px;

  &:hover {
    cursor: pointer;

    //animacao
    @include estilos.mix-animacoes('F')
  }
}
