//importacoes
@use '../../../styles.scss' as estilos;

//classes: bootstrap
.list-group-item {
  margin-bottom: 32px;
  border-radius: 32px;

  &:hover {
    cursor: pointer;

    //animacao
    @include estilos.mix-animacoes('F')
  }

  &:nth-child(1) {
    margin-top: 16px;
  }
}
