//importacoes
@use '../../../estilos/mapas.scss' as mapas;

:host {
  // centraliza todos objetos
  display: flex;
  align-items: center;
  justify-content: center;
  //tamanho
  width: 100%;
  height: 100%;
  //
  background-image: url('/assets/imagens/smartphone.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  //posicao p/ aplicar fundo escurecido
  position: relative;

  &::before {
    content: '';
    position: absolute;   //posicao p/ ficar no local correto dentro do pai que eh relativo
    top: 0;
    left: 0;
    //tamanho
    width: 100%;
    height: 100%;
    //fundo
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  //quebra o encapsulamento do componente pai p/ permitir aplicar regas css aos componentes filhos
  // ::ng-deep { }
}

//elementos
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 70%;

  button {
    cursor: pointer;
    // animacao
    transition: background 0.3s;
    //tamanho
    width: 100%;
    font-size: 18px;
    margin-bottom: 8px;
    //
    border-radius: 24px;
    //
    color: map-get(mapas.$cores, branco);

    &:hover {
      background: map-get(mapas.$cores, cinza);
    }
  }
}

//classes
.cls-login {
  //eleva container p/ ficar acima do fundo escurecido
  position: relative;
  z-index: 2;
  //
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  //tamanho
  height: 70vh;
  width: 360px;
  padding: 16px;
  //
  background-image: linear-gradient(to top right, #898197 16%, #616173 49%, #656889 73%, #4a4c70 100%);
  box-shadow: 24px 24px 16px;
  border: solid 4px #808080;
  //bordas arredondadas
  border-radius: 50px;

  h1 {
    margin-bottom: 5rem;
    color: map-get(mapas.$cores, branco);
  }
}
