<div class="login-container">
  <mat-card class="login-card">
    <h2>Bem-vindo de volta!</h2>
    <form #form="ngForm" (ngSubmit)="onSubmitForm(form)">
      <!-- campos entrada -->
      <app-cre-entrada rEntrada="Email" TipoEntrada="email" strDescricao="Digite seu email" strNome="email" (siEntrada)="onChangeEmail($event)" [(ngModel)]="usuario.email" name="email"></app-cre-entrada>
      <app-cre-entrada rEntrada="Senha" TipoEntrada="password" strDescricao="Digite seu senha" strNome="senha" (siEntrada)="onChangeSenha($event)" [(ngModel)]="usuario.senha" name="senha"></app-cre-entrada>
      <button mat-raised-button color="primary" type="submit" class="full-width">
        Entrar
      </button>
    </form>
  </mat-card>
</div>
