//importacoes
@use 'sass:map';    //map p/ manipular mapas sass
@use '../../../estilos/mapas.scss' as mapas;
@use '../../../styles.scss' as estilos;

//estilos da caixa componente: container
:host {
  //estilizacao padrao
  @include estilos.mix-padrao();

  //cor de fundo
  background-color: map.get(mapas.$cores, bege);
}

//classes
.cls-login {
  //visualizacao
  display: block;
  text-align: center;

  //tamanho 520.650 230.400
  height: 560px;
  width: 360px;

  //espacamento
  padding: 16px;
  //bordas arredondadas
  border-radius: 50px;

  //fundo
  background-color: #f0eae0;
  border: 8px groove rgba(148, 135, 135, 0.8);
  //argumetos: 1 - aplica borda direita (-); esquerda (+)
  //2 - aplica borda cima (-); baixo (+)
  //3 - efeito dispersao em todas as bordas
  //4 - aplica todas as bordas
  box-shadow: 45px 12px 157px 25px rgba(92, 92, 92, 0.5);

  //barra de rolagem
  @include estilos.mix-barra-rolagem(auto, 5px);

  //quebra o encapsulamento do componente pai p/ permitir aplicar regras css aos componentes filhos
  //&::ng-deep { }
}
