//importacoes
@use 'sass:map';    //map p/ manipular mapas sass
@use '../../../estilos/mapas.scss' as mapas;
@use '../../../styles.scss' as estilos;

//estilos da caixa componente: container
:host {
  //estilizacao padrao
  @include estilos.mix-padrao();

  //cor de fundo
  background-color: map.get(mapas.$cores, marrom);
}

//classes
.cls-login {
  //
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  //tamanho
  height: 80dvh;
  // width: 360px;
  padding: 16px;
  //fundo
  background-color: #f0eae0;
  border: 8px groove rgba(148, 135, 135, 0.8);
  //argumetos: 1 - aplica borda direita (-); esquerda (+)
  //2 - aplica borda cima (-); baixo (+)
  //3 - efeito dispersao em todas as bordas
  //4 - aplica todas as bordas
  box-shadow: 45px 12px 157px 25px rgba(92, 92, 92, 0.5);
  //bordas arredondadas
  border-radius: 50px;

  //barra de rolagem
  @include estilos.mix-barra-rolagem(auto, 5px);

  //quebra o encapsulamento do componente pai p/ permitir aplicar regras css aos componentes filhos
  &::ng-deep {
    //elementos
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      height: 70%;

      button {
        cursor: pointer;
        // animacao
        transition: all 0.3s;
        //tamanho
        width: 100%;
        font-size: 24px;
        margin-bottom: 8px;
        //
        border-radius: 24px;
        //
        color: map.get(mapas.$cores, preto);
        // text-shadow: 4px 4px 2px rgba(0,0,0,0.6);

        &:hover {
          background: map.get(mapas.$cores, cinza);
          //aplica animacao
          @include estilos.mix-animacoes('F');
        }
      }
    }

    h1 {
      margin-bottom: 3rem;
      color: map.get(mapas.$cores, preto);
    }
  }
}
