//importacoes
@use 'sass:map';
@use '../../../styles.scss' as estilos;
@use '../../../estilos/mapas.scss' as mapas;

//variaveis
$deslocamento: 50px;

//elementos: cabecalho
header {
  position: sticky;
  top: 0;
  left: 0;

  //posicao inicial: cria efeito suave de deslizamento do cabecalho
  margin-top: $deslocamento;
  transition: all 1s ease-in-out;

  //espacamento
  padding: 16px;

  //sombra p/ deixa o objeto esfumacado
  background-color: map.get(mapas.$cores, marrom-2);

  //deixa o cabecalho por cima do restante dos elementos
  z-index: 3;

  //pseudo elemento: p/ cobrir o espaco inicial do cabecalho
  &::before {
    content: '';
    //mesmas propriedades do cabecalho
    position: absolute;
    //inicia tampando o espaco deixado pelo cabecalho
    //subtrai 1px p/ nao ver bordas: border none nao resolve
    top: -$deslocamento;
    left: 0;
    width: 100%;

    //tamanho do deslocamento do cabecalho
    //soma 1px p/ nao exibir bordar: mesmo problema do 'top'
    height: $deslocamento + 1px;

    //herda o fundo do elemento
    background-color: map.get(mapas.$cores, marrom-2);
  }
}

img {
  margin-right: 16px;
}

strong {
  color: map.get(mapas.$cores, bege);
  padding-bottom: 8px;
  font-size: 22px;
}

//links
h1 {   //titulo
  color: map.get(mapas.$cores, branco) !important;
}

.nav-link
,.btn {
  width: 100px !important;
}

//classes: tornar cabecalho grudado no topo
.sticky {
  margin-top: 0;
}
