//mapas
$cores: (
  cinza: #cccccc,
  azul: rgba(89, 89, 191, 0.715),
  branco: #ffffff,
  azul-claro: #556cd6,
  preto: #000000,
  marrom: #a16d79,
  marrom-2: #72424e,
  bege: #e5d1be,
  bege-2: #c5b2a0
);

$tam-fontes: (
  padrao: 16px
);
