//mapas
$cores: (
  transparente: transparent,
  cinza: #e2e2e27d,
  azul: rgba(89, 89, 191, 0.715),
  branco: #ffeaeada,
  azul-claro: #556cd6,
  preto: #272727bb
);

$tam-fontes: (
  padrao: 20px
);
