//mapas
$cores: (
  cinza: #cccccc,
  azul: rgba(89, 89, 191, 0.715),
  branco: #ffffff,
  azul-claro: #556cd6,
  preto: #000000,
  marrom: #a16d79,
  marrom-2: #72424e,
  marrom-3: #e9d5da,
  bege: #e5d1be,
  bege-2: #c5b2a0,
  bege-3: #f5f1ea
);

$tam-fontes: (
  padrao: 16px
);

//escapes
$breakpoints: (
  smartphone: '(max-width: 576px)',
  tablet: '(min-width: 577px) and (max-width: 768px)',
  desktop: '(min-width: 769px) and (max-width: 992px)',
  grande: '(min-width: 993px)'
);
